body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo img {
  display: block;
  max-width: 200px;
  margin-bottom: 20px;
}

.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
  min-width: 544px;
}

.search-form {
  margin-bottom: 30px;
}
.search-input {
  color: green;
}

.btn-search {
  color: #75695e;
  background-color: #f6d6bd;
  border-color: #75695e;
}

.btn-search:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  border-color: #bae3ff;
  color: rgba(39, 33, 66, 0.4);
}
.weather h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 0px 0 10px;
}

.unitHumidity ,.unitWind {
  color: #f65282;
}

#current-time {
font-weight: bold ;
}

.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  position: relative;
  left: -23px;
  top: -10px;
}

.unit {
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  line-height: 1;
  text-decoration: none;
}

#celsius, #fahrenheit{
  text-decoration: none;
}

.active {
  color: #212121;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.Weather canvas {
  margin: 10px 0;
}
.weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

li::first-letter{
text-transform: capitalize;
}

.weatherInfo ul strong {
  color: #f65282;
  font-weight: 400;
}
.WeatherInfo {
  margin-top: 20px;
}

.weatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.forecast-time {
  color: rgba(39, 33, 66, 0.4);;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
}

.WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}

.weather-img {
  color: #68dad8;
  font-size: 23px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 9px;
  position: relative;
  left: 23px;
}

.weather-img-head {
  position: relative;
  right: -29px;
  top: -26px;
  scale: 0.9;
  color: #68dad8;
}

.weatherForecastPreview {
  border: 1px solid rgb(255, 243, 116);
  padding: 10px;
  border-radius: 6px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}
.forecast-temperature {
  color: #35b4b1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.forecast-temperature-min {
  color: #64cdcb (225, 60, 159, 0.4);
  margin-left: 10px;
  opacity: 0.6;
}

.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}

.container,
.container-md,
.container-sm {
  max-width: 620px;
  margin: 0 auto;
  margin-top: 15px;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 12px;
  line-height: 17px;
  margin-top: 35px;
  margin-bottom: -15px;
  text-align: center;
}
